## Setup

In [2]:
import pandas as pd
import numpy as np

In [3]:
import os
os.chdir('C:/Users/syjan/Desktop/internship/pubmed-task')

In [6]:
df = pd.read_csv('pubmed_task.csv', header=1, encoding='euc-kr')
df.columns

Index(['NUM', 'PMID', 'Title', 'Unnamed: 3', 'Authors', 'Citation',
       'First Author', 'Journal/Book', 'Publication Year', 'Create Date',
       'PMCID', 'NIHMS ID', 'DOI', 'J', 'S', 'C', 'J.1', 'S.1', 'C.1', 'J.2',
       'S.2', 'C.2'],
      dtype='object')

In [77]:
df2 = pd.read_excel('서윤_EXCLUSION(S_STUDENTS)_220714_test.xlsx')
df2.columns

Index(['NUM', 'PMID', 'Title', 'S', 'Authors', 'Citation', 'First Author',
       'Journal/Book', 'Publication Year', 'Create Date', 'PMCID', 'NIHMS ID',
       'DOI'],
      dtype='object')

In [78]:
df2.head(2)

,NUM,PMID,Title,S,Authors,Citation,First Author,Journal/Book,Publication Year,Create Date,PMCID,NIHMS ID,DOI
0,2401,25978574,Sustained Benefit of Community-based Tuberculo...,NaN,"Accinelli RA, Romero LR, García RF, Sánchez R.",Am J Respir Crit Care Med. 2015 May 15;191(10)...,Accinelli RA,Am J Respir Crit Care Med,2015,2015-05-16,NaN,NaN,10.1164/rccm.201412-2173LE
1,2402,31181879,Diagnostic utility of PET/CT in a patient with...,NaN,"Tetikkurt C, Inci N, Yanardag H.",Monaldi Arch Chest Dis. 2019 Jun 11;89(2). doi...,Tetikkurt C,Monaldi Arch Chest Dis,2019,2019-06-12,NaN,NaN,10.4081/monaldi.2019.1080

## Filter conditions and assign appropriate numbers

In [79]:
def filter_pubmed(df):
    df1 = df.copy()

    #Condition 1: Articles published before 1970
    df1.loc[df1['Publication Year'] < 1970, 'S'] = 1
    print('Condition 1: excluded ', df1.query("S==1").shape[0], 'rows')

    #Condition 2: Not an original article 
    unoriginal = '|'.join(['comment','letter','editorial','case report','image','video','review','meta-analysis',
                           'meta analysis','rare case','rare association','one case of', 'novel case', 'report of a case',
                          'report of case', 'unusual case','two cases of', 'rare complication', 'case illustration', 'report of'])
    df1.loc[df1.Title.str.contains(unoriginal, case=False) & df1.S.isnull(), 'S'] = 2
    df1.loc[df1.Title.str.contains("A case of", case=True) & df1.S.isnull(), 'S'] = 2
    print('Condition 2: excluded ', df1.query("S==2").shape[0], 'rows')


    #Condition 4: Studies on TB vaccine 
    vaccine_related = 'BCG|TB vaccination|TB vaccine|vaccinated'
    df1.loc[df1.Title.str.contains(vaccine_related, case=False) & df1.S.isnull(), 'S'] = 4
    print('Condition 4: excluded ', df1.query("S==4").shape[0], 'rows')

    #Condition 5: Cost analyses
    cost_related ='cost analysis|cost analyses|economic analysis|economic analyses|cost-effectiveness'
    df1.loc[df1.Title.str.contains("Cost ", case=True) & df1.S.isnull(), 'S'] = 5
    df1.loc[df1.Title.str.contains(cost_related, case=False) & df1.S.isnull(), 'S'] = 5
    print('Condition 5: excluded ', df1.query("S==5").shape[0], 'rows')

    #Condition 6: Not human
    animals = "bovine|cattle|animal tuberculosis|animal TB|raccoon|primates|horses|dogs|elk|rhesus macaque|pig"
    df1.loc[df1.Title.str.contains(animals, case=False) & df1.S.isnull(), 'S'] = 6
    print('Condition 6: excluded ', df1.query("S==6").shape[0], 'rows')
    
    #Condition 3: Not pulmonary TB 
    lung_related = 'pulmonary|chest|lung|transplant'
    other_organs = '|'.join(['meningitis', 'TBM','colon', 'bone', 'musculoskeletal', 'lymph tuberculosis',
                             'lymph node tuberculosis','lymph node TB','abdomen', 'ocular', 'liver', 'spleen', 'abdominal', 
                             'intestine', 'bladder', 'urogenital', 'renal', 'spinal', 'pelvis', 'tongue', 'urinary', 'Osteoarticular'])
    df1.loc[((-df1.Title.str.contains(lung_related, case=False)& 
       df1.Title.str.contains(other_organs, case=False)) | -df1.Title.str.contains('tuberculosis|TB', case=False))& 
       df1.S.isnull() , 'S'] = 3
    print('Condition 3: excluded ', df1.query("S==3").shape[0], 'rows')
    
    return df1

In [80]:
new_df = filter_pubmed(df2)
new_df[['Title', 'Publication Year', 'S']].head()

Condition 1: excluded  53 rows
Condition 2: excluded  283 rows
Condition 4: excluded  9 rows
Condition 5: excluded  5 rows
Condition 6: excluded  2 rows
Condition 3: excluded  627 rows

                                               Title  Publication Year    S
0  Sustained Benefit of Community-based Tuberculo...              2015  NaN
1  Diagnostic utility of PET/CT in a patient with...              2019  NaN
2  Management of pulmonary aspergilloma in the pr...              1984  NaN
3  Sequential strategy for the LTBI screening of ...              2018  NaN
4  [Renoureteral tuberculosis in a transplanted k...              2008  3.0

In [81]:
print("In total,",new_df.shape[0] - new_df[new_df.S.isnull()].shape[0],"rows were deleted out of", df2.shape[0])

In total, 979 rows were deleted out of 1679

In [82]:
#Check numbers
new_df.S.value_counts(dropna=False).reset_index(name='n').sort_values(by='index').rename(columns={'index':'criteria'}).fillna('included')

   criteria    n
3         1   53
2         2  283
1         3  627
4         4    9
5         5    5
6         6    2
0  included  700

## Check with examples

In [83]:
# Condition 1 example
new_df[['Title', 'Publication Year', 'S']].query("S==1").head(5)

                                                Title  Publication Year    S
11     [Treatment of postoperative bronchial fistula]              1969  1.0
17  [Results on the use of ethambutol in the treat...              1968  1.0
26  [Radiologic opacity typical of a spontaneously...              1954  1.0
42  [CONSERVATIVE AND SURGICAL TREATMENT OF PATIEN...              1963  1.0
58  [Evaluation of initial combined chemotherapy w...              1969  1.0

In [84]:
# Condition 2 example
new_df.query("S==2").Title.tolist()[:5]

['A rare complication of pig-tail catheter insertion',
 'Tuberculoid granulomatous lesion of the pharynx--review of the literature',
 'Embolization for hemoptysis: a six -year review',
 '[Two cases of tuberculosis after transplantation of the kidney]',
 'Tuberculosis-Associated Chylothorax: Case Report and Systematic Review of the Literature']

In [85]:
# Condition 3 example
new_df.query("S==3").Title.tolist()[:5]

['[Renoureteral tuberculosis in a transplanted kidney]',
 'Intravascular large B-cell lymphoma confirmed by lung biopsy',
 '[Problems in the diagnosis and therapy of lymph node tuberculosis in HIV-negative patients]',
 'Resected lung after an abbreviated rifampin regimen',
 'Pulmonary mycobacterial infections due to Mycobacterium intracellulare-avium complex. Clinical features and course in 100 consecutive cases']

In [86]:
# Condition 4 example
new_df.query("S==4").Title.tolist()[:5]

["Child's tuberculous lymphadenitis with fistula evoked by the BCG stem",
 'Utility of PCR assays for rapid diagnosis of BCG infection in children',
 'Relation between BCG vaccine scar and an interferon-gamma release assay in immigrant children with "positive" tuberculin skin test (≥10\xa0mm)',
 '[BCG osteitis in Switzerland. A report of 6 cases]',
 'Is BCG vaccine innocent?']

In [87]:
# Condition 5 example
new_df.query("S==5").Title.tolist()[:5]

['Cost-effectiveness of tuberculosis control strategies among immigrants and refugees',
 'Cost-effectiveness analysis of common tuberculosis screening laboratory tests for hemodialysis patients: An analysis from tropical endemic country, Thailand',
 'Cost effectiveness of DOTS and non-DOTS strategies for smear-positive pulmonary tuberculosis in Beijing',
 "Cost-effectiveness of the Three I's for HIV/TB and ART to prevent TB among people living with HIV",
 'Cost-effectiveness of interferon-gamma release assay for systematic tuberculosis screening of healthcare workers in low-incidence countries']

In [89]:
# Condition 6 example
new_df.query("S==6").Title.tolist()

['Human bovine tuberculosis - remains in the differential',
 'Roast pig and scientific discovery. Part I']

In [90]:
#write as excel
new_df.to_excel('서윤_EXCLUSION(S_STUDENTS)_220714_test.xlsx',index=False)